<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Home</title>
	
	<object th:include="fragments/fragment :: css" th:remove="tag">/</object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar(name='Home')"></nav>
	
		<div class="container-fluid">
		<br>
		<h3>Tambah Pegawai</h3>
		<br>
		<form th:action="@{/pegawai/tambah}" method="POST" th:object="${pegawai}">
			<div class="form-group row">
			   <label for="nama" class="col-sm-2 col-form-label">Nama </label>
			   <div class="col-sm-10">
			     <input type="text" class="form-control" name="nama">
			   </div>
			</div>
			<div class="form-group row">
			   <label for="tempatLahir" class="col-sm-2 col-form-label">Tempat Lahir </label>
			   <div class="col-sm-10">
			     <input type="text" class="form-control" name="tempatlahir">
			   </div>
			</div>
			<div class="form-group row">
			   <label for="tanggalLahir" class="col-sm-2 col-form-label">Tanggal Lahir </label>
			   <div class="col-sm-10">
			     <input type="Date" class="form-control" name="tanggalLahir">
			   </div>
			</div>
			<div class="form-group row">
			   <label for="tahunMasuk" class="col-sm-2 col-form-label">Tahun Masuk </label>
			   <div class="col-sm-10">
			     <input type="text" class="form-control" name="tahunMasuk">
			   </div>
			</div>
			
			<div class="form-group row">
			   <label for="jabatan" class="col-sm-2 col-form-label">Jabatan </label>
			   <div class="col-sm-10">
			     <select class="form-control" required="required" th:value="${listJabatan}" name="listJabatan" id="jabatan">
	                    <option disabled="disabled" selected="selected" > -- Jabatan --</option>
	                    <option th:each="jab : ${listJabatan}" th:value="${jab.id}" th:text="${jab.nama}" ></option>
	            </select>
	            <a ></a>
			   </div>
			</div>
			<div class="form-group">
			    <label for="provinsi" class="col-sm-2 col-form-label">Provinsi:</label>
			    <div class="col-sm-10">
			    	<div th:if="*{instansi} == null">
						<select  class="form-control" required="required" name="provinsi" id="provinsi" th:value="${listProvinsi}" >
					      <option disabled="disabled" selected="selected" > -- Pilih Provinsi -- </option>
					      <option th:each="provinsi : ${listProvinsi}" th:value="${provinsi.id}" th:text="${provinsi.nama}" ></option>
					    </select>
					</div>
					<div th:unless="*{instansi} == null">
						<select  class="form-control" required="required" name="provinsi" id="provinsi" th:value="*{instansi.provinsi}">
					      <option th:each="provinsi : ${listProvinsi}" th:value="${provinsi.id}" th:text="${provinsi.nama}" th:selected="${provinsi.id} == *{instansi.provinsi.id}"></option>
					    </select>
					</div>
			    </div>	    
			</div>
			<div class="form-group">
		         <label for="instansi" class="col-sm-2 col-form-label">Nama Instansi</label>
		         <div class="col-sm-10">
		         	<div th:if="*{instansi} == null">
						<select class="form-control" th:value="*{instansi}" name="instansi" id="instansi" required="required" >
	                    	<option disabled="disabled" selected="selected" > -- Pilih Instansi -- </option>
	                	</select>	
					</div>
					<div th:unless="*{instansi} == null">
						<select class="form-control" th:value="*{instansi}" name="instansi" id="instansi" required="required" >
		                    <option  th:value="*{instansi.id}" selected="selected" th:text="*{instansi.nama}"></option>
		                    <option th:each="instansi : ${listInstansi}" th:value="${instansi.id}" th:text="${instansi.nama}" ></option>
		                </select>	
					</div>
		         </div>
			</div>
			<p></p>
				<button type="submit" class="btn btn-primary">Simpan</button>
		</form>
	</div>
</body>

<script th:inline="javascript">
$('#provinsi').change(
     function() {
         $.getJSON("/instansi/provinsi", {
             provinsiId : $(this).val(),
             ajax : 'true'
         }, function(data) {
             var html = '<option value="">Pilih Instansi</option>';
             var len = data.length;
             for ( var i = 0; i < len; i++) {
                 html += '<option value="' + data[i].id + '">'
                         + data[i].nama + '</option>';
             }
             html += '</option>';
             $('#instansi').html(html);
         });
     });
</script>

</html>