<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Detail Pegawai</title>
	
	<object th:include="fragments/fragment :: css" th:remove="tag">/</object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar(name='Home')"></nav>
	
	<div class="container-fluid">
		<div class="row">
		  	<div class="col">
		  		<br>
		  		<div class="card">
					<div class="card-header">
						Data Pegawai Termuda
					</div>
					<div class="card-body">
						<h3 th:text="'NIP : ' + ${muda.nip}"></h3>
						<h3 th:text="'Nama : ' + ${muda.nama}"></h3>
						<h3 th:text="'Tempat Lahir : ' + ${muda.tempat_lahir}"></h3>
						<h3 th:text="'Tanggal Lahir : ' + ${muda.tanggal_lahir}"></h3>
						<h3 th:text="'Tahun Masuk : ' + ${muda.tahun_masuk}"></h3>
						<h3 th:text="'Nama Instansi : ' + ${muda.instansi.nama}+ ' - ' + ${tua.instansi.instansiProvinsi.nama}"></h3>
						<h3 th:text="'Jabatan : '"></h3>
						<div th:each="jabatan : ${muda.listJabatan}">
							<h3 th:text="'-' + ${jabatan.nama}"></h3>
						</div>
					</div>
				</div>
		  	</div>
		  	<div class="col">
		  		<br>
		  		<div class="card">
					<div class="card-header">
						Data Pegawai Tertua
					</div>
					<div class="card-body">
						<h3 th:text="'NIP : ' + ${tua.nip}"></h3>
						<h3 th:text="'Nama : ' + ${tua.nama}"></h3>
						<h3 th:text="'Tempat Lahir : ' + ${tua.tempat_lahir}"></h3>
						<h3 th:text="'Tanggal Lahir : ' + ${tua.tanggal_lahir}"></h3>
						<h3 th:text="'Tahun Masuk : ' + ${tua.tahun_masuk}"></h3>
						<h3 th:text="'Nama Instansi : ' + ${tua.instansi.nama} + ' - ' + ${tua.instansi.instansiProvinsi.nama}"></h3>
						<h3 th:text="'Jabatan : '"></h3>
						<div th:each="jabatan : ${tua.listJabatan}">
							<h3 th:text="'-' + ${jabatan.nama}"></h3>
						</div>
					</div>
				</div>
		  	</div>
		</div>
	</div>
</body>

</html>