<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Home</title>
	
	<object th:include="fragments/fragment :: css" th:remove="tag">/</object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar(name='Home')"></nav>
	
	<div class="container-fluid">
		<h2 th:text="'Lihat Data Pegawai - ' + ${pegawai.nip}"></h2>
		<h3 th:text="'NIP : ' + ${pegawai.nip}"></h3>
		<h3 th:text="'Nama : ' + ${pegawai.nama}"></h3>
		<h3 th:text="'Tempat Lahir : ' + ${pegawai.tempat_lahir}"></h3>
		<h3 th:text="'Tanggal Lahir : ' + ${pegawai.tanggal_lahir}"></h3>
		<h3 th:text="'Tahun Masuk : ' + ${pegawai.tahun_masuk}"></h3>
		<h3 th:text="'Nama Instansi : ' + ${nama_instansi} + ' - ' + ${nama_provinsi}"></h3>
		<h3 th:text="'Jabatan : '"></h3>
			<div th:each="jabatan : ${pegawai.listJabatan}">
				<h3 th:text="'-' + ${jabatan.nama}"></h3>
			</div>
		<h3 th:text="'Gaji : Rp' + ${gaji}"></h3>
		
	</div>
</body>

</html>